body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.topo{
    height: 30px;
    background-color: rgb(26, 23, 23);
}
.topoint{
    width: 100%;
    max-width: 1040px;
    height: 30px;
    margin: auto;
}
.topoleft{
    width: 50%;
    height: 30px;
    float:left;
}
.toprigth{
    width: 50%;
    height: 28px;
    float: right;
    text-align: right;
    margin-top: 2px;
}
.topoleft ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.topoleft ul li{
    float: left;
    height: 30px;
    line-height: 30px;
    margin: auto 8px
}
.topoleft ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.topoleft li .ativo{
    color: rgb(91, 113, 236)
}
.topobusca{
    width: 110px;
    height: 20px;
    outline: 0;
}
.toprigth a {
    float: right;
}
.toprigth input {
    float: right;
    margin-left: 2px;
}
.toprigth img {
    margin-right: 2px;
}
.topo2{
    height: 95px;
    background-color: rgb(255, 255, 255);
    color: black;
}
.topo2int{
    width: 100%;
    max-width: 1040px;
    height: 95px;
    margin: auto;
}
.logo{
    width: 230px;
    height: 95px;
    float: left;
}
.banner{
    width: 650px ;
    height: 80px;
    float: right;
    margin-top: 7px;
    background-color: rgba(235, 16, 16, 0.952);
}
.banner h1{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    color: #fff;
}
.logo h1{
    font-size: 30px;
    color: rgb(236, 18, 18);
    line-height: 80px;
}
.menu{
    height: 40px;
    background-color: rgb(236, 18, 18);
    box-shadow: 0px 4px 4px rgba(214, 7, 7, 0.473);
}
.menuint{
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: auto;
}
.menu .menuint ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu .menuint ul li{
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0 8px;
}
.menu .menuint ul li:hover{
    background-color:rgb(90, 4, 4);
}
.menu .menuint ul li:hover .submenu{
    display: block;
}
.menu .menuint a{
    color: #fff;
    text-decoration: none;
}
.submenu{
    width: 150px;
    background-color: rgba(155, 15, 15, 0.938);
    position: absolute;
    display: none;
}
.submenuitem{
    height: 30px;
    width: 140px;
    line-height: 30px;
    padding-left: 10px;
}
.submenuitem:hover{
    background-color: rgb(90, 4, 4);
}
.ultimasnoticias{
    height: 40px;
}
.ultimasnoticiasint{
    width: 100%;
    max-width: 1040px;
    margin: auto;
    height: 40px;
}
.ultinoticiasarea{
    height: 28px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: 10px;
}
.ultinoticiastitulo{
    background-color: rgb(235, 15, 15);
    color: #fff;
    height: 28px;
    display: inline-block;
    line-height: 28px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}
.ultinoticiasnoticia{
    color: #000;
    height: 28px;
    display: inline-block;
    padding-left: 5px;
}
.containerint{
    width: 100%;
    max-width: 1040px;
    margin: auto;
}
.rightside{
    width: 275px;
    min-height: 200px;
    float: right;
    margin-left: 12px;
}
.leftside{
    width: 753px;
    float: left;
}
.widget{
    background-color: #fff;
    border: solid 1px #ccc;
    margin-bottom: 10px;
}
.widgettitulo{
    height: 30px;
    border-bottom: 1px solid #ccc;
    background-color: #ddd;
    line-height: 30px;
    padding-left: 5px;
    font-size: 14px;
}
.widgetconteudo{
    text-align: center;
    padding: 5px;
}
.noticiaitem{
    font-size: 12px;
    text-align: justify;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}
.noticiaitem a{
    text-decoration: none;
    color: #000;
}
.slidshow{
    height: 335px;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 20px;
}
.slidshowarea{
    height: 335px;
    transition:all 1s ;
}
.slide{
    height: 335px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slidinfo{
   height: 70px; 
   background-image: url('../images/slideshow_bg.png');
   background-size: auto 70px;
   margin-top: 265px;
}
.slideinfotitulo{
    font-size: 15px;
    color: #fff;
    padding-top: 15px;
    font-weight: bold;
    padding-left: 20px;
}
.slideinfosubtitulo{
    font-size: 13px;
    color: #fff;
    padding-left: 20px;
}
.slidebolinhas{
    position: absolute;
    width: 200px;
    height: 20px;
}
.bolinha{
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 10px;
}
.noticiaarea1{
    width: 430px;
    float: left;
    height: 420px;
}
.noticiaarea2{
    width: 310px;
    float: right;
    height: 420px;
}
.noticiaitem{
    text-align: left;
    height: 88px;
    display: flex;
    margin-top: 7px;
    margin-bottom: 7px;
    border: none;
}
.noticiabig{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.noticiabig .noticiaimg{
    width: 384px;
    height: 222px;
}
.noticiabig .noticiaimg img{
    width: 384px;
    height: 222px;
}
.noticiabig .noticiatitulo{
    font-size: 30px;
    width: 384px;
}
.agrupar{
    display: flex;
    flex-direction: column;
}
.noticiaimg{
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
    padding: 3px;
    float: left;
}
.noticiatitulo{
    margin-left: 5px;
    font-size: 14px;
    float: left;
    width: 226px;
}
.noticiainfo{
    font-size: 12px;
    margin-left: 5px;
    color: #999;
    float: left;
}